*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  font-family:  sans-serif;}

:root {
     --primary-text-color:white;
     --secondary-text-color:#ff2b85;
     --accent-color:#ff2b85;
     --accent-color-dark:#ad265e;
     --primary-bg-color:#FFB2BB;
     
}  

h1{ font-size: 39px;}
h2{ font-size: 30px; }
h3{ font-size: 20px; }

p{   font-family: sans-serif;
    line-height: 1.8rem;
    font-size: 16px; }

a{  text-decoration: none;
    display: inline-block;
    font-weight: 600;}    

 ul{ list-style: none;}
 li{ list-style: none;}

.flex{  display: flex;
    align-items: center;}

.flex-wrap{ flex-wrap: wrap;}

.container{ 
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.contaner{
    justify-content: center;
    margin: auto;
}

              /* --header-- */

.nav-bar{ justify-content: center;
          width: 100%;
          position: fixed;
          background-color: white;
          height: 60px;
}
              
.nav-list li{ margin-left: 20px;}              
.nav-list img{ margin-right: 130px;}
.nav-list a { color: black;}

.primary-button{
   background-color: var(--accent-color);
   border-radius: 20px;
   font-weight: 600;
   color: white  !important;
   padding: 12px 24px;
   box-shadow:0 0 2px var(--primary-bg-color);
   transition: 0.2 ease-out; 
}

.primary-button:hover{background-color:var(--accent-color-dark);}

.nav-list a:hover{ color: var(--secondary-text-color);}

.nav-button a{ margin-right: 20px;
               margin-left: 20px; }


                /* --section #01-- */

.hero-text{
       padding-left: 100px;
       padding-top: 100px;
       padding-bottom: 30px;
}  

.hero-text h1{ padding-bottom: 20px;
               color: rgb(43, 51, 60);
               font-size: 4rem;
}

.hero-text h3{ margin: 10px;}

.hero-text h3:hover{ color: var(--secondary-text-color);}
 
.slider{
        height: 450px;
         background-image: url(../images/fd-slider1.jpg);
         background-position:  center center;
         background-repeat: no-repeat;
         background-size: 100% 100%;
         animation-name: wajahat ;
         animation-duration :13s;
        animation-timing-function:linear;
        animation-iteration-count: infinite;  
 } 
         
@keyframes wajahat{
                  0%{background-image: url(../images/fd-slider1.jpg);}
                  35%{background-image:url(../images/fd-slider2.webp);}
                  75%{background-image: url(../images/fd-slider3.webp);}
                  100%{ background-image: url(../images/fd-slider1.jpg);}
}

         /* --section #02-- */

.buttons{
      padding: 10px;
      height: 100px;
      margin-top: 70px;
      justify-items: center;
}

.secondary-button{
    background-color: black;
   border-radius: 20px;
   font-weight: 600;
   color: white !important;
   padding: 12px 24px;
   box-shadow:0 0 2px var(--primary-bg-color);
   transition: 0.2 ease-out;    
}

.buttons a:hover{ color: var(--secondary-text-color);}


.pre-primary-button{
   background-color: white;
   border-radius: 20px;
   font-weight: 600;
   color: rgb(33, 31, 31) !important;
   padding: 12px 24px;
   box-shadow:0 0 2px var(--primary-bg-color);
   transition: 0.2 ease-out; 
   border: 1px solid black;
}

.buttons h2{ margin-right: 100px;
             margin-left: 20px;}

.buttons a{ 
      margin-left: 20px;
}

       /* --section #03-- */

.img-text-contaner{ justify-items: center;}


.div-box-mearg{
    margin-top: 10px;
    padding: 10px;
    margin-left:25px;
}

.boxs-text{ margin-left: 30px;}

.boxs-text img{ padding-bottom: 20px;}

.boxes-text{ padding:10px 10px;
             width: 200px;
             justify-items:left;
            }

.boxes-text a{ color: var(--secondary-text-color);
                padding-bottom: 10px;
}

.boxes-text a:hover{ color: rgb(49, 46, 46);}

.boxes-text p{ padding-bottom: 10px;}                


          /* --section #04-- */

.page-list{ margin-left: 400px; }

.page-button{
   background-color: rgb(217, 217, 217);
   border-radius: 50%;
   font-weight: 600;
   color: rgb(33, 31, 31) !important;
   padding: 15px; 
   box-shadow:0 0 2px var(--primary-bg-color);
   transition: 0.2 ease-out;  
}  

.page-button:hover{ background:grey;}

.page-button {margin: 10px;}


           /* -- section #05-- */

.big-box{ 
      height: 400px;
      background: #bbbbbb;
      margin-top: 30px;
      padding: 50px;
      
}  

.right-icon-box{ margin-left: 150px;}
.left-icon-box{ margin-left: 100px;}

.left-icon-box img{ padding-bottom: 30px; }
.left-icon-box h2{ padding-bottom: 20px;}
.left-icon-box p{ padding-bottom: 20px;}
.left-icon-box a{ color: var(--secondary-text-color);}

.left-icon-box a:hover{color:rgb(49, 46, 46) ;}

.right-icon-box img{ padding-bottom: 30px; }
.right-icon-box h2{ padding-bottom: 20px;}
.right-icon-box p{ padding-bottom: 20px;}
.right-icon-box a{ color: var(--secondary-text-color);}

.right-icon-box a:hover{color:rgb(49, 46, 46) ;}

        /* -- footer-- */

        
.footer{
    height: 300px;
    background: #000;
}

.footer img{
    margin-left: 20px;
    padding: 20px;     
} 

.footer-text1 { margin-left: 100px;
                padding: 10px;
                color: white;}

.footer-text1 h3{ padding-bottom: 20px;}                

.footer-text1 a{ color: white;}  

.footer-text2{ margin-left: 100px;
               padding: 10px;
               color: white;}

.footer-text2 h3{ padding-bottom: 20px;}               

.footer-text2 a{ color: white;}

.footer{
    height: 300px;
    background: #000;
}

.footer img{
    margin-left: 20px;
    padding: 20px;     
} 

.footer-text1 { margin-left: 100px;
                padding: 10px;
                color: white;}

.footer-text1 h3{ padding-bottom: 20px;}                

.footer-text1 a{ color: white;}  

.footer-text2{ margin-left: 100px;
               padding: 10px;
               color: white;}

.footer-text2 h3{ padding-bottom: 20px;}               

.footer-text2 a{ color: white;}

.footer-social{ padding-left: 100px;
               color: white;}

.footer-social a{ color: white;
            }

.footer-social h3{ padding-bottom: 20px;}                

.footer-social a{ color: white;
                
}
